* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393f;
  color: #dcddde;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  background-color: #36393f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

code {
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}
